body{
    font-family: helvetica,Helvetica,Arial,sans-serif;
}

/* form screen */
#logo{
    display: block;
    max-width: 60%;
    min-width: 600px;
    margin: auto; 
    margin-bottom: 32px;  
}

#container{
    text-align:center;
}

#container>form{
    display:inline-block;
    text-align:left;
}

#container>form>*{
    margin:16px;
}

#handleContainer>*{
    margin-right:4px;
}

#statusContainer>*{
    margin-right: 4px;
}

#uniqueContainer>*{
    margin-right: 4px;
}

#submit{
    margin-top: 0px !important;
}

/* loading screen */

#download{
    margin-bottom:16px;
}

#progress {
    display:block;
    width: 60%;
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
    margin: auto;
    margin-bottom:16px;
}
  
#bar {
    width: 0%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(42, 173, 42);
}

#cnt {
    display:block;
}

/* finished screen */

